body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.containerPrincipal{
    width: 100%;
    height: 93vh;
    background-color: #252440;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-top: 0;
    color: #ff0000;
    text-align: center;
}

.tablero{
    width: 30%;
    height: 40%;
    border: 2px solid #FFF0C9;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
}

.celdas {
    border: 1px solid #FFF0C9;
    display: flex;
    justify-content: center;
    align-items: center;

}
label{
    color: #FFF0C9;
}

.casilla{
    font-size: 4rem;
}
.puntuador{
    width: 20%;
    height: 10%;
    

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#turno{
    width: 30%;
    border-left: 3px solid #FFF0C9;
    border-top: 3px solid #FFF0C9;
    border-right: 3px solid #FFF0C9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}
#puntaje {
    width: 50%;
    
    display: flex;
   
}

.players{
    width: 50%;
    border-left: 3px solid #FFF0C9;
    border-top: 3px solid #FFF0C9;
    border-right: 3px solid #FFF0C9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}
#player1{
    background-color: green;
}
#player2 {
    background-color: #ff0000;
}
#empates {
    background-color: #0CB7F2;
}


footer {
    display: flex;
    justify-content: center;
    height: 7vh;
    background-color: #ff0000;

}
.contenedor-footer{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;

}

.contenedor-modoJuego{
    width: 35%;
    height: 60%;
    display: flex;
    border: 1px solid #000000 ;
    cursor: pointer;

}
.contenedor-pvp{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
.contenedor-pvp:hover, .contenedor-pvp:focus{
    background-color: #FFF0C9;
}

.contenedor-reinicio{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    cursor: pointer;
}

.contenedor-reinicio:hover{
    background-color: #FFF0C9;
}

@media  (max-width:1024px) {
    .tablero {
        width: 95%;
        height: 60%;
    }
    .puntuador{
        width: 60%;
        display: flex;
        justify-content: center;
    }

    #turno {
        width:35%;
        
    }
    #puntaje{
        width: 60%;
    }

    .contenedor-footer{
        width: 100%;
    }
    .contenedor-modoJuego{
        width: 50%;
        height: 80%;
    }
    .contenedor-reinicio{
        width: 40%;
        height: 80%;
    }
}







